// VARIABLES
$color-fonas-sviesus: #fff;
$color-fonas-tamsus: rgb(228, 228, 228);
$color-primary: #43893f;
$color-secondary: #faa749;
$seselis-pagrindinis: 0rem 1rem 5rem rgba(0, 0, 0, 0.356);
$seselis-mazas: 0rem 0.1rem 0rem rgba(0, 0, 0, 0.656);
$sriftas: 'Quicksand', sans-serif;
$gradientas: linear-gradient(180deg, #f3f3f3, transparent);

// QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) { @content; }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) { @content; }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) { @content; }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) { @content; }
 }

*, *:before, *:after {
	box-sizing: border-box;
}

* {
    padding: 0px;
    margin: 0px; 
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: $sriftas;
}

.nuoroda {
    width: 100%;
    position: absolute;
    height: 140px;
    top: -140px;
    z-index: -1;
    visibility: hidden;
    pointer-events:none;
}

a {
    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
    &:link, &:visited {
        color: inherit;
    }
    &:hover {
        color: $color-secondary;
        transition: color 0.2s ease;
    }
    &:active {
        color: black;
    }
}

.turinio-containeris {
    max-width: 1200px;
    margin: 0 auto;
}

.puslapis-centravimas {
    width: 100%;   
}

.navigacija {
    width: 100%;
    height: auto;
    position: fixed;
    background: $color-fonas-sviesus;
    //backdrop-filter: blur(4rem);
    box-shadow: $seselis-pagrindinis;
    z-index: 500;
    //transition: all 200ms ease;

    .navigacija-wrap {
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
       
        padding: .25rem;
        margin: 0 auto;
        transition: padding 200ms ease;

        @include xl {
            flex-wrap: wrap;
            padding: 1rem;
        }
    } //navigacija-wrap

    .navigacija-logo {
        flex-grow: 1;
        height: 3.5rem;
        transition: height 200ms ease;

        img {
            width: 100%;
            height: 100%;
        }
        @include xl {
            flex-grow: inherit;
        }
    } //navigacija-logo

    .navigacija-hamburgeris {
        width: 5rem;
        height: 5rem;
        .hamburgeris-containeris {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &:hover .hamburgeris-ikona, &:hover .hamburgeris-ikona::after, &:hover .hamburgeris-ikona::before {
                background: $color-secondary;
                transition: background 0.2s ease;
            }
        }

        .hamburgeris-ikona {
            width: 80%;
            height: .25rem;
            background: black;
            border-radius: 1rem;
            cursor: pointer;

            &::before, &::after {
                position: relative;
                display: block;
                content: "";
                width: 100%;
                height: .25rem;
                background: black;
                border-radius: 1rem;
            }
            &::before {
                transform: translate(0rem, -1.25rem);
            }
            &::after {
                transform: translate(0rem, 1rem);
            }
        }
        @include xl {
            display: none;
        }
    }

    .navigacija-meniu {
        display: none;
        list-style-type: none;
        justify-content: center;
        //flex-grow: 2;
        flex-wrap: wrap;
        margin: 1rem;
        transition: margin 200ms ease;

        li {
            //flex-basis: 33.333%;
            text-align: center;
            padding: .5rem .75rem;
            transition: padding 200ms ease;

            a:after {
                display:block;
                content: "";
                transform: scaleX(0);  
                border-bottom: solid 2px $color-secondary;  
                transition: transform 200ms ease;
            }
            &:hover a:after {
                transform: scaleX(1);
            }
            a {
                font-size: 1.2rem;
            }
            @include md {
                flex-basis: auto;
                padding: 0rem 1rem;
            }
        } //li
        @include xl {
            display: flex;
        }
    } //navigacija-meniu

    .navigacija-kontaktai {
        display: none;
        justify-content: center;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        overflow: hidden;
        transition: height 200ms ease;

        .navigacija-svg {
            margin: 0rem .5rem;
        }
        .navigacija-svg::before {
            content: "";
            position: relative;
            display: inline-block;
            width: .85rem;
            height: .85rem;
            margin-right: .25rem;
        }
        .navigacija-tel::before {
            background: url("media/tel.svg");
            background-size: contain;
        }
        .navigacija-pastas::before {
            background: url("media/pastas.svg");   
            background-size: contain;        
        }
        //@include xl {
        //    flex-direction: column;
        //}
        @include xl {
            flex-grow: 0;
            display: flex;
        }
    } //navigacija-kontaktai
    .navigacija-mobili {
        position: fixed;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: white;
        //color: $color-secondary;
        //padding: 1rem;
        overflow: auto;

        .navigacija-grizimas {
            width: 100%;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            box-shadow: $seselis-pagrindinis;
            margin-bottom: 2rem;

            .navigacija-logo {
                width: auto;
                height: 5rem;
                padding: .5rem;
                border-radius: 1rem;
            }

            .hamburgeris-containeris {
                margin-left: 1rem;

                &:hover .hamburgeris-ikona::before, &:hover .hamburgeris-ikona::after {
                    background: $color-secondary;
                }
            }

            .hamburgeris-ikona {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background 200ms ease;
                cursor: pointer;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    width: 5rem;
                    height: .5rem;
                    background: black;
                    transition: background 200ms ease;
                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
        ul {
            min-height: calc(100% - 7rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0rem 1rem;
        }
        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 1rem 0rem;

            a {
                width: 100%;
                font-size: 1.5rem;
                padding: 1rem;
                background: $color-secondary;
                border-radius: 1rem;
                transition: background 200ms ease, color 200ms ease;
                text-align: center;
                color: black;

                &:hover {
                    background: lighten($color-secondary, 10%);
                    color: black;
                }
            } //a
        } //li
        .navigacija-svg {
            margin-bottom: 0px;

            a {
                font-size: 1.2rem;
                border-top: 2px solid $color-primary;
                background: white;
            }
        }
    } //navigacija-mobili
} //navigacija

.pagrindinis-containeris {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 1rem 1rem 0rem 0rem;

    @include xl {
        border-radius: 1rem;
    }
}

.puslapis-titulinis {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: url("media/titulinis.jpg");
    //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-attachment: scroll;
    overflow: hidden;

    .titulinis-fonai {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
    }

    .titulinis-fonas {
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;

        .fonas-containeris {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            min-width: 100%;
            min-height: 100%;
        }
    }

    .titulinis-tekstas {
        background: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(2rem) contrast(1.2) brightness(1.7);
        border-radius: 1rem;
        //box-shadow: $seselis-pagrindinis;
        padding: .75rem;
        padding-top: .3rem;

        h1 {
            font-size: 2rem;
            color: $color-secondary;
            text-shadow: $seselis-mazas;
            text-align: center;
            transition: font-size 200ms ease;

            @include md {
                font-size: 3rem;
            }
        }
        h3 {
            font-size: 1.25rem;
            color: white;
            text-shadow: $seselis-mazas;
            text-align: center;
            transition: font-size 200ms ease;

            @include md {
                font-size: 1.5rem;
            }
        }
    }
    @include xl {
        background-attachment: fixed;
    }
} //puslapis-titulinis

// Turinio langai
.puslapis-apie {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;

    .puslapis-turinys {
        background-color: $color-secondary;
        border-radius: 1rem;
        padding: 1.5rem;
        padding-bottom: 8rem;
        margin-top: -1rem;

        .puslapis-sukis {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-align: center;
            padding: 1rem;
            margin-top: -1.5rem;
            margin-bottom: 2.5rem;
            //border-bottom: 2px solid darken($color-secondary, 20%);
            box-shadow: $seselis-pagrindinis;
            border-radius: 1rem;
        }

        h1 {
            padding: 0rem 1rem 1rem 1rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 2rem;
            text-align: justify;
        }
    } //puslapis-turinys
} //puslapis-apie

.puslapis-paslaugos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -2rem;
    z-index: 2;

    .puslapis-turinys {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -6rem;

        .paslaugos-iliustracija {
            width: 100%;
            background: #76c26e;
            background: linear-gradient(#4c83c1 0%, #4c83c1 49%, #76c26e 50%, #76c26e 100% );
            border-radius: 1rem;
            display: flex;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;
            }
            @include md {
                width: 70%;
            }
        }
        .paslaugos-iliustracijos-tekstas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                margin: 1rem 2rem; 
                color: $color-primary;
            }
            .paslaugos-paslauga {
                display: flex;
                flex-direction: row;
                margin: 0rem 1rem 1rem 2rem;

                .paslauga-numeris {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 100%;
                    background: $color-secondary;
                    margin-right: 1rem;
                    font-size: 1.25rem;
                }
                span {
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }
            @include md {
                padding-top: 6rem;
                //padding-bottom: 1rem;
                width: 30%;
            }
        } //paslaugos-iliustracijos-tekstas

        .paslaugos {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;

            .paslaugos-atstumai {
                flex-basis: 100%;
                flex-grow: 1;
                margin-right: 1rem;

                @include md {
                    flex-basis: 45%;
                    flex-grow: 1;
                }
                h3 {
                    padding: 1rem 1rem;
                    border-radius: 1rem 1rem 0rem 0rem;
                    background: $gradientas;
                    color: $color-primary;
                    font-size: 2rem;
                }
                p {
                    font-size: 1.25rem;
                    line-height: 3rem;
                    border-bottom: 2px solid $color-primary;
                    margin: 0rem 1rem;

                    span {
                        float: right;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
            .paslaugos-verkne {
                flex-basis: 100%;
                flex-grow: 1;

                @include md {
                    flex-basis: 45%;
                    flex-grow: 1;
                }
                img {
                    border-radius: 1rem;
                    width: 100%;
                    height: auto;
                }
            }
            //@include xl {
            //    padding: 1rem;
            //}
        } //paslaugos

        @include md {
            flex-direction: row;
        }
    } //puslapis-turinys
} //puslapis-paslaugos

.puslapis-kainorastis {
    position: relative;
    width: 100%;
    z-index: 3;

    .puslapis-turinys {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0rem 1rem;
        padding: 1rem;
        flex-wrap: wrap;

        .kainorastis {
            flex-basis: 100%;
            //display: flex;
            //flex-direction: column;

            h1 {
                padding: 1rem 1rem;
                border-radius: 1rem 1rem 0rem 0rem;
                background: $gradientas;
                color: $color-primary;
            }
            h3 {
                display: flex;
                flex-basis: 49%;
                justify-content: center;
                align-items: center;
            }
            p {
                margin: .5rem 1rem;
                font-size: 1.25rem;
                line-height: 2rem;
                border-bottom: 2px solid #43893f;

                &:first-of-type {
                    margin-top: 1rem;
                }
                &:last-of-type {
                    border-bottom: none;
                }
            }
            .kainos {
                display: flex;
                align-items: center;
                flex-basis: 100%;
                margin: .5rem 0rem;
                //padding: 1rem;
                background: $color-fonas-tamsus;
                border-radius: 1rem;
                overflow: hidden;
                align-items: stretch;

                span {
                    flex-grow: 1;
                    padding: .75rem;
                    font-size: 1.25rem;
                }
                div {
                    min-width: 5rem;
                    flex-basis: auto;
                    background: $color-secondary;
                    padding: .75rem;
                    font-size: 1.25rem;
                    text-align: center;
                }
                @include md {
                    flex-basis: 48%;
                    //margin-bottom: 1rem;
                }
            } //kainos
            @include md {
                flex-basis: 48%;
            }
            @include xl {
                padding: 0px;
            }
        } // kainorastis
    } // puslapis-turinys
} // puslapis-kainorastis

.puslapis-galerija {
    position: relative;
    width: 100%;
    z-index: 4;

    h1 {
        padding: 1rem 1rem;
        margin: 0rem 1rem;
        border-radius: 1rem 1rem 0rem 0rem;
        background: $gradientas;
        color: $color-primary;
    }

    .galerija-turinys {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .galerija-nuotrauka {
            flex-basis: 100%;
            padding: 1rem;

            img {
                width: 100%;
                border-radius: 1rem;
            }
            @include md {
                flex-basis: 50%;
            }
            @include xl {
                flex-basis: 33.33%;
            }
        }
    }
}

// Footeris
footer {
    position: relative;
    width: 100%;
    z-index: 4;
    margin-top: -1rem;
    overflow-x: hidden;

    @include xl {
        margin-top: 2rem;
    }
    .kontaktai {
        width: 100%;
        //height: 18rem;
        background: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .kontaktai-mygtuku-containeris {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            flex-wrap: wrap;
            height: auto;
            background: $color-secondary;

            a {
                width: 100%;

                .kontaktai-mygtukas {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 1rem;
                    transition: background 200ms ease, color 200ms ease;
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        text-align: center;
                    }
                } //kontaktai-mygtukas
                &:hover .kontaktai-mygtukas, &:last-of-type:hover .kontaktai-mygtukas {
                    background: lighten( $color-secondary, 20% );
                    color: darken( $color-secondary, 20% );
                }
                &:last-of-type .kontaktai-mygtukas {
                    background: lighten( $color-secondary, 8% );
                }
                @include md {
                    width: 50%;
                }
            } // a
        } // kontaktai-mygtuku-containeris

        .kontaktai-blokai {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 2rem 0rem;

            .kontaktai-blokas-pirmas, .kontaktai-blokas-antras {
                width: 100%;
                padding: 0rem 2rem;
                flex-basis: 100%;

                @include md {
                    flex-basis: 50%;
                }
            }

            .kontaktai-blokas-pirmas {
                margin-bottom: 1rem;
            }

            .kontaktai-meniu {
                width: 100%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                li {
                    padding: .25rem;
                    font-size: 1.25rem;
                    color: white;

                    h3 {
                        font-weight: 800;
                    }
                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                    span {
                        width: 100%;
                        white-space: pre-wrap;
                    }
                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                        margin-right: .75rem;
                    }
                }
            } //kontaktai-meniu
        } //kontaktai-blokai
    } //kontaktai
    .kontaktai-zemelapis {
        width: 100%;
        height: 18rem;
    } //kontaktai-zemelapis
} //footer