// VARIABLES
$color-fonas-sviesus: #fff;
$color-fonas-tamsus: rgb(228, 228, 228);
$color-primary: #43893f;
$color-secondary: #e7b24f;
$seselis-pagrindinis: 0rem 1rem 5rem rgba(0, 0, 0, 0.356);
$seselis-mazas: 0rem 0.1rem 0rem rgba(0, 0, 0, 0.656);
$sriftas: 'Quicksand', sans-serif;

// QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) { @content; }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) { @content; }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) { @content; }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) { @content; }
 }

*, *:before, *:after {
	box-sizing: border-box;
}

* {
    padding: 0px;
    margin: 0px; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $sriftas;
}

.nuoroda {
    width: 100%;
    position: absolute;
    height: 140px;
    top: -140px;
    z-index: -1;
    visibility: hidden;
    pointer-events:none;
}

a {
    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
    &:link, &:visited {
        color: inherit;
    }
    &:hover {
        color: $color-secondary;
        transition: color 0.2s ease;
    }
    &:active {
        color: black;
    }
}

.turinio-containeris {
    max-width: 1200px;
    margin: 0 auto;
}

.puslapis-centravimas {
    width: 100%;   
}

.navigacija {
    width: 100%;
    height: auto;
    position: fixed;
    background: $color-fonas-sviesus;
    //backdrop-filter: blur(4rem);
    box-shadow: $seselis-pagrindinis;
    z-index: 500;
    //transition: all 200ms ease;

    .navigacija-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 0 auto;
        transition: padding 200ms ease;
    } //navigacija-wrap

    .navigacija-logo {
        flex-grow: 1;
        height: 3.5rem;
        transition: height 200ms ease;

        img {
            width: 100%;
            height: 100%;
        }
        @include md {
            flex-grow: inherit;
        }
    } //navigacija-logo

    .navigacija-hamburgeris {
        width: 5rem;
        height: 5rem;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &:hover .hamburgeris-ikona, &:hover .hamburgeris-ikona::after, &:hover .hamburgeris-ikona::before {
                background: $color-secondary;
                transition: background 0.2s ease;
            }
        }

        .hamburgeris-ikona {
            width: 80%;
            height: .25rem;
            background: black;
            border-radius: 1rem;

            &::before, &::after {
                position: relative;
                display: block;
                content: "";
                width: 100%;
                height: .25rem;
                background: black;
                border-radius: 1rem;
            }
            &::before {
                transform: translate(0rem, -1.25rem);
            }
            &::after {
                transform: translate(0rem, 1rem);
            }
        }
        @include sm {
            display: none;
        }
    }

    .navigacija-meniu {
        display: none;
        list-style-type: none;
        justify-content: center;
        //flex-grow: 2;
        flex-wrap: wrap;
        margin: 1rem;
        transition: margin 200ms ease;

        li {
            //flex-basis: 33.333%;
            text-align: center;
            padding: .5rem .75rem;
            transition: padding 200ms ease;

            a {
                font-size: 1.2rem;
            }
            @include md {
                flex-basis: auto;
                padding: 0rem 1rem;
            }
        } //li
        @include sm {
            display: flex;
        }
    } //navigacija-meniu

    .navigacija-kontaktai {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        overflow: hidden;
        transition: height 200ms ease;

        .navigacija-svg {
            margin: 0rem .5rem;
        }
        .navigacija-svg::before {
            content: "";
            position: relative;
            display: inline-block;
            width: .85rem;
            height: .85rem;
            margin-right: .25rem;
        }
        .navigacija-tel::before {
            background: url("media/tel.svg");
            background-size: contain;
        }
        .navigacija-pastas::before {
            background: url("media/pastas.svg");   
            background-size: contain;        
        }
        //@include xl {
        //    flex-direction: column;
        //}
    } //navigacija-kontaktai
} //navigacija

.puslapis-titulinis {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("media/titulinis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    .titulinis-tekstas {
        background: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(2rem) contrast(1.2) brightness(1.7);
        border-radius: 1rem;
        //box-shadow: $seselis-pagrindinis;
        padding: .75rem;
        padding-top: .3rem;

        h1 {
            font-size: 2rem;
            color: $color-secondary;
            text-shadow: $seselis-mazas;
            text-align: center;
            transition: font-size 200ms ease;

            @include md {
                font-size: 3rem;
            }
        }
        h3 {
            font-size: 1.25rem;
            color: white;
            text-shadow: $seselis-mazas;
            text-align: center;
            transition: font-size 200ms ease;

            @include md {
                font-size: 1.5rem;
            }
        }
    }
    @include xl {
        background-attachment: fixed;
    }
} //puslapis-titulinis

// Turinio langai
.puslapis-apie {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;

    .puslapis-turinys {
        background-color: $color-secondary;
        border-radius: 1rem;
        padding: 1.5rem;
        padding-bottom: 8rem;
        margin-top: -2rem;

        h1 {
            padding: 0rem 1rem 1rem 1rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    } //puslapis-turinys
} //puslapis-apie

.puslapis-paslaugos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -2rem;
    z-index: 2;

    .puslapis-turinys {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -6rem;

        .paslaugos-iliustracija {
            width: 100%;
            background: #76c26e;
            background: linear-gradient(#4c83c1 0%, #4c83c1 49%, #76c26e 50%, #76c26e 100% );
            border-radius: 1rem;
            display: flex;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;
            }
            @include md {
                width: 70%;
            }
        }
        .paslaugos-iliustracijos-tekstas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                margin: 1rem 2rem; 
            }
            .paslaugos-paslauga {
                display: flex;
                flex-direction: row;
                margin: 0rem 1rem 1rem 2rem;

                .paslauga-numeris {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 100%;
                    background: $color-secondary;
                    margin-right: 1rem;
                    font-size: 1.25rem;
                }
                span {
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }
            @include md {
                padding-top: 6rem;
                //padding-bottom: 1rem;
                width: 30%;
            }
        } //paslaugos-iliustracijos-tekstas

        .paslaugos {
            width: 100%;
            padding: 1rem 0rem;

            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.25rem;
                line-height: 2rem;
            }
        } //paslaugos

        @include md {
            flex-direction: row;
        }
    } //puslapis-turinys
} //puslapis-paslaugos

.puslapis-kainorastis {
    position: relative;
    width: 100%;
    z-index: 3;

    .puslapis-turinys {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0rem;
        flex-wrap: wrap;

        .kainorastis {
            flex-basis: 100%;
            //display: flex;
            //flex-direction: column;

            h3 {
                display: flex;
                flex-basis: 49%;
                justify-content: center;
                align-items: center;
            }
            p {
                margin: .5rem 1rem;
                font-size: 1.25rem;
            }
            .kainos {
                display: flex;
                align-items: center;
                flex-basis: 100%;
                margin: .5rem 0rem;
                background: $color-fonas-tamsus;
                border-radius: 1rem;
                overflow: hidden;
                align-items: stretch;

                span {
                    flex-grow: 1;
                    padding: .75rem;
                    font-size: 1.25rem;
                }
                div {
                    min-width: 5rem;
                    flex-basis: auto;
                    background: $color-secondary;
                    padding: .75rem;
                    font-size: 1.25rem;
                    text-align: center;
                }
                @include md {
                    flex-basis: 48%;
                    //margin-bottom: 1rem;
                }
            } //kainos
            @include md {
                flex-basis: 48%;
            }
        } // kainorastis
    } // puslapis-turinys
} // puslapis-kainorastis

// Footeris
footer {
    position: relative;
    width: 100%;
    z-index: 4;

    .kontaktai {
        width: 100%;
        //height: 18rem;
        background: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .kontaktai-mygtuku-containeris {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            flex-wrap: wrap;
            height: auto;
            background: $color-secondary;

            a {
                width: 100%;

                .kontaktai-mygtukas {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 1rem;
                    transition: background 200ms ease, color 200ms ease;
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        text-align: center;
                    }
                } //kontaktai-mygtukas
                &:hover .kontaktai-mygtukas, &:last-of-type:hover .kontaktai-mygtukas {
                    background: lighten( $color-secondary, 20% );
                    color: darken( $color-secondary, 20% );
                }
                &:last-of-type .kontaktai-mygtukas {
                    background: lighten( $color-secondary, 8% );
                }
                @include md {
                    width: 50%;
                }
            } // a
        } // kontaktai-mygtuku-containeris

        .kontaktai-blokai {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 2rem 0rem;

            .kontaktai-blokas-pirmas, .kontaktai-blokas-antras {
                padding: 0rem 2rem;
                flex-basis: 100%;

                @include md {
                    flex-basis: 50%;
                }
            }

            .kontaktai-blokas-pirmas {
                margin-bottom: 1rem;
            }

            .kontaktai-meniu {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                li {
                    padding: .25rem;
                    font-size: 1.25rem;
                    color: white;

                    h3 {
                        font-weight: 800;
                    }

                    a {
                        display: flex;
                        align-items: center;
                    }

                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                        margin-right: .75rem;
                    }
                }
            } //kontaktai-meniu
        } //kontaktai-blokai
    } //kontaktai
    .kontaktai-zemelapis {
        width: 100%;
        height: 18rem;
    } //kontaktai-zemelapis
} //footer